body{
    background-image: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vmax;
    background-position: center 0;
    background-color: black;
}

.noPad {
    padding: 0;
    margin: 0
}

.mainPitch {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 8%;
    width: 55vw;
    overflow: hidden;
}
h1 {
    font-size: 96px;
    color: white;
    font-family: 'Lobster', cursive;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: purple;
}

@media only screen and (max-width: 1000px) {
    .mainPitch {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 60vw;
        overflow: hidden;
    }
}

@media only screen and (max-width: 600px) {
    .mainPitch {
        position: relative;
        bottom: auto;
        left: auto;
        padding: 20% 0 0 0;
        margin: 0;
        width: 100vw;
        overflow: hidden;
    }
    h1 {
        font-size: 60px;
        color: white
    }
}

.nothing {
    height: 98vh;
}

.notMuch {
    height: 50px;
}